*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: aliceblue;
  text-align: center;
}

h1 {
  text-align: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 10px;
  margin: 5vh auto;
  color: #212121;
  border: 4px solid #ff993b;
  border-radius: 25px;
  text-align: center;
}

.cardContainer {
  width: 100%;
  width: 600px;
  padding: 10px;
  margin: 5vh auto;
  color: #212121;
  border: 4px solid #ff993b;
  border-radius: 25px;
  text-align: center;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-top: 4px;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* for card display */
.card {
  margin: 48px 24px 20px 24px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 1);
  height: 90px;
  width: 60px;
  border-radius: 8px;
  display: inline-block;
  vertical-align: top;
}

.suit {
  margin: 5px;
  font-size: 18px;
}

.name {
  margin: 5px;
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
}

.red {
  color: rgba(255, 0, 0, 1);
}

.black {
  color: rgba(0, 0, 0, 1);
}

// flashing for beginner mode
.flashedCard {
  .beginner {
    opacity: 0;
    animation-name: fade5Card;
    animation-duration: 5s;
  }
}
@keyframes fade5Card {
  0% {
    opacity: 0;
  }
  19% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}

.flashedCard .beginner:nth-child(1) {
  animation-delay: 0s;
}
.flashedCard .beginner:nth-child(2) {
  animation-delay: 1s;
}
.flashedCard .beginner:nth-child(3) {
  animation-delay: 2s;
}
.flashedCard .beginner:nth-child(4) {
  animation-delay: 3s;
}
.flashedCard .beginner:nth-child(5) {
  animation-delay: 4s;
}

// flashing for adv mode
.flashedCard {
  .advanced {
    opacity: 0;
    animation-name: fade7Card;
    animation-duration: 7s;
  }
}
@keyframes fade7Card {
  0% {
    opacity: 0;
  }
  13% {
    opacity: 1;
  }
  14% {
    opacity: 0;
  }
}

.flashedCard .advanced:nth-child(1) {
  animation-delay: 0s;
}
.flashedCard .advanced:nth-child(2) {
  animation-delay: 1s;
}
.flashedCard .advanced:nth-child(3) {
  animation-delay: 2s;
}
.flashedCard .advanced:nth-child(4) {
  animation-delay: 3s;
}
.flashedCard .advanced:nth-child(5) {
  animation-delay: 4s;
}
.flashedCard .advanced:nth-child(6) {
  animation-delay: 5s;
}
.flashedCard .advanced:nth-child(7) {
  animation-delay: 6s;
}

// flashing for expert mode
.flashedCard {
  .expert {
    opacity: 0;
    animation-name: fade10Card;
    animation-duration: 10s;
  }
}
@keyframes fade10Card {
  0% {
    opacity: 0;
  }
  9% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
}

.flashedCard .expert:nth-child(1) {
  animation-delay: 0s;
}
.flashedCard .expert:nth-child(2) {
  animation-delay: 1s;
}
.flashedCard .expert:nth-child(3) {
  animation-delay: 2s;
}
.flashedCard .expert:nth-child(4) {
  animation-delay: 3s;
}
.flashedCard .expert:nth-child(5) {
  animation-delay: 4s;
}
.flashedCard .expert:nth-child(6) {
  animation-delay: 5s;
}
.flashedCard .expert:nth-child(7) {
  animation-delay: 6s;
}
.flashedCard .expert:nth-child(8) {
  animation-delay: 7s;
}
.flashedCard .expert:nth-child(9) {
  animation-delay: 8s;
}
.flashedCard .expert:nth-child(10) {
  animation-delay: 9s;
}
