*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: aliceblue;
  text-align: center;
}

h1 {
  text-align: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 10px;
  margin: 5vh auto;
  color: #212121;
  border: 4px solid #ff993b;
  border-radius: 25px;
  text-align: center;
}

.cardContainer {
  width: 100%;
  width: 600px;
  padding: 10px;
  margin: 5vh auto;
  color: #212121;
  border: 4px solid #ff993b;
  border-radius: 25px;
  text-align: center;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-top: 4px;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* for card display */
.card {
  margin: 48px 24px 20px 24px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 1);
  height: 90px;
  width: 60px;
  border-radius: 8px;
  display: inline-block;
  vertical-align: top;
}

.flashedCard {
  .card {
    opacity: 0;
    animation-name: fadeinCard;
    animation-duration: 4.8s;
  }
}
@keyframes fadeinCard {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.flashedCard .card:nth-child(1) {
  animation-delay: 0s;
}
.flashedCard .card:nth-child(2) {
  animation-delay: 0.8s;
}
.flashedCard .card:nth-child(3) {
  animation-delay: 1.6s;
}
.flashedCard .card:nth-child(4) {
  animation-delay: 2.4s;
}
.flashedCard .card:nth-child(5) {
  animation-delay: 3.2s;
}

.suit {
  margin: 5px;
  font-size: 18px;
}

.name {
  margin: 5px;
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
}

.red {
  color: rgba(255, 0, 0, 1);
}

.black {
  color: rgba(0, 0, 0, 1);
}
